In [29]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [30]:
df=pd.read_csv("assets/datasets/car.csv")
df.head()

  buying  maint doors persons lug_boot safety acceptability
0  vhigh  vhigh     2       2    small    low         unacc
1  vhigh  vhigh     2       2    small    med         unacc
2  vhigh  vhigh     2       2    small   high         unacc
3  vhigh  vhigh     2       2      med    low         unacc
4  vhigh  vhigh     2       2      med    med         unacc

In [31]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
features = [c for c in df.columns if c != 'acceptability']
for c in df.columns:
    df[c] = le.fit_transform(df[c])

X = df[features]
y = df['acceptability']

In [40]:
df.head()

   buying  maint  doors  persons  lug_boot  safety  acceptability
0       3      3      0        0         2       1              2
1       3      3      0        0         2       2              2
2       3      3      0        0         2       0              2
3       3      3      0        0         1       1              2
4       3      3      0        0         1       2              2

In [32]:
boot_dummies = pd.get_dummies(df["lug_boot"],prefix='lug_boot_class')
safety_dummies = pd.get_dummies(df['safety'],prefix='safety_class')

In [33]:
df2=df.join(safety_dummies)

In [35]:
df2=df.join(boot_dummies)

In [37]:
df2.head()

,buying,maint,doors,persons,lug_boot,safety,acceptability,lug_boot_class_0,lug_boot_class_1,lug_boot_class_2
0,3,3,0,0,2,1,2,0.0,0.0,1.0
1,3,3,0,0,2,2,2,0.0,0.0,1.0
2,3,3,0,0,2,0,2,0.0,0.0,1.0
3,3,3,0,0,1,1,2,0.0,1.0,0.0
4,3,3,0,0,1,2,2,0.0,1.0,0.0

In [61]:
from sklearn.cross_validation import cross_val_score
from sklearn.ensemble import BaggingClassifier
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
bagging = BaggingClassifier(knn, max_samples=0.5, max_features=0.5)

print "KNN Score:\t", cross_val_score(knn, X, y, cv=5, n_jobs=-1).mean()
print "Bagging Score:\t", cross_val_score(bagging, X, y, cv=5, n_jobs=-1).mean()

KNN Score:	0.643070305149
Bagging Score:	0.713486355693

In [41]:
kn_model=KNeighborsClassifier()
kn_model.fit(X,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [43]:
cross_val_score(kn_model, X, y, cv=5).mean()

0.64307030514854158

In [55]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(random_state=1)
bagging = BaggingClassifier(model, max_samples=0.5, max_features=0.5)

In [64]:
print "Bagging Score:\t", cross_val_score(bagging, X, y, cv=5, n_jobs=-1).mean()

Bagging Score:	0.713486355693