In [270]:
import numpy as np
import scipy.stats as stats
import csv
import pandas as pd
import seaborn as sns
%matplotlib inline

In [271]:
data = []
f = open('assets/sat_scores.csv', 'r')
readerfile = csv.reader(f)
scores_data = list(readerfile)

In [272]:
scores_data[:]

[['State', 'Rate', 'Verbal', 'Math'],
 ['CT', '82', '509', '510'],
 ['NJ', '81', '499', '513'],
 ['MA', '79', '511', '515'],
 ['NY', '77', '495', '505'],
 ['NH', '72', '520', '516'],
 ['RI', '71', '501', '499'],
 ['PA', '71', '500', '499'],
 ['VT', '69', '511', '506'],
 ['ME', '69', '506', '500'],
 ['VA', '68', '510', '501'],
 ['DE', '67', '501', '499'],
 ['MD', '65', '508', '510'],
 ['NC', '65', '493', '499'],
 ['GA', '63', '491', '489'],
 ['IN', '60', '499', '501'],
 ['SC', '57', '486', '488'],
 ['DC', '56', '482', '474'],
 ['OR', '55', '526', '526'],
 ['FL', '54', '498', '499'],
 ['WA', '53', '527', '527'],
 ['TX', '53', '493', '499'],
 ['HI', '52', '485', '515'],
 ['AK', '51', '514', '510'],
 ['CA', '51', '498', '517'],
 ['AZ', '34', '523', '525'],
 ['NV', '33', '509', '515'],
 ['CO', '31', '539', '542'],
 ['OH', '26', '534', '439'],
 ['MT', '23', '539', '539'],
 ['WV', '18', '527', '512'],
 ['ID', '17', '543', '542'],
 ['TN', '13', '562', '553'],
 ['NM', '13', '551', '542'],
 ['IL', '12', '576', '589'],
 ['KY', '12', '550', '550'],
 ['WY', '11', '547', '545'],
 ['MI', '11', '561', '572'],
 ['MN', '9', '580', '589'],
 ['KS', '9', '577', '580'],
 ['AL', '9', '559', '554'],
 ['NE', '8', '562', '568'],
 ['OK', '8', '567', '561'],
 ['MO', '8', '577', '577'],
 ['LA', '7', '564', '562'],
 ['WI', '6', '584', '596'],
 ['AR', '6', '562', '550'],
 ['UT', '5', '575', '570'],
 ['IA', '5', '593', '603'],
 ['SD', '4', '577', '582'],
 ['ND', '4', '592', '599'],
 ['MS', '4', '566', '551'],
 ['All', '45', '506', '514']]

In [273]:
labels = scores_data[0]
labels

['State', 'Rate', 'Verbal', 'Math']

In [274]:
labels[0]

'State'

In [275]:
labels.index('State')

0

In [276]:
all_data = scores_data[1:]
all_data[:5]

[['CT', '82', '509', '510'],
 ['NJ', '81', '499', '513'],
 ['MA', '79', '511', '515'],
 ['NY', '77', '495', '505'],
 ['NH', '72', '520', '516']]

In [277]:
scores_data[1][2]

'509'

In [278]:
len(all_data)

52

In [279]:
state_list = [scores_data[i][0] for i in range(0,len(scores_data)-1)]
state_list[:5]

['State', 'CT', 'NJ', 'MA', 'NY']

In [280]:
type(state_list)

list

In [281]:
for i in range(0,len(state_list)):
    print(type(state_list[i]))

<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>

In [282]:
#scores_data is the file that was loaded with the column headings and data
state_column=[]
print("The 'State' column type is:")
for i in range(0,len(scores_data)):
   state_column.append((type(scores_data[i][0])))
print state_column 



#type(scores_data[i][0] for i in range(0,len(scores_data))

The 'State' column type is:
[<type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>]

In [283]:
#scores_data is the file that was loaded with the column headings and data-
#using if statement to check if every value is a string

for i in range(0,len(scores_data)):
    state_column = type(scores_data[i][0]) 
    if state_column == 'str':
        print(state_column)

In [284]:
rate_list = [scores_data[i][1] for i in range(1,len(scores_data))]
rate_list

['82',
 '81',
 '79',
 '77',
 '72',
 '71',
 '71',
 '69',
 '69',
 '68',
 '67',
 '65',
 '65',
 '63',
 '60',
 '57',
 '56',
 '55',
 '54',
 '53',
 '53',
 '52',
 '51',
 '51',
 '34',
 '33',
 '31',
 '26',
 '23',
 '18',
 '17',
 '13',
 '13',
 '12',
 '12',
 '11',
 '11',
 '9',
 '9',
 '9',
 '8',
 '8',
 '8',
 '7',
 '6',
 '6',
 '5',
 '5',
 '4',
 '4',
 '4',
 '45']

In [285]:
math_list = [scores_data[i][3] for i in range(1,len(scores_data))]
math_list[2]

'515'

In [286]:
#int_list = [[for j>0 int(i[j])] for i in (item for item in scores_data)]
#x = [[int(float(j)) for j in i] for i in x]
#int_list=[]
for item in all_data:
    item[1]

In [287]:

for i in range(0,len(all_data)):
    
    x = rate_list[i]
    rate_new.append(int(x))

In [288]:
rate_new[:10]

[82, 81, 79, 77, 72, 71, 71, 69, 69, 68]

In [289]:
#to change all values in all_data(including state names) to int without changing the state names to int
#int_values=[]
#for item in all_data:
    #for i in range(1,4):
        #int_values.append(int(item[i]))
#print(int_values)

 
#all_data[1:5]

In [290]:
state_list = [scores_data[i][0] for i in range(0,len(scores_data)-1)]
len(state_list)

52

In [291]:
states_col=[]
for i in range(0,len(labels)-1):
    for j in range(0,len(scores_data)-1):
        states_col.append(scores_data[j][i])

In [292]:
states_col

['State',
 'CT',
 'NJ',
 'MA',
 'NY',
 'NH',
 'RI',
 'PA',
 'VT',
 'ME',
 'VA',
 'DE',
 'MD',
 'NC',
 'GA',
 'IN',
 'SC',
 'DC',
 'OR',
 'FL',
 'WA',
 'TX',
 'HI',
 'AK',
 'CA',
 'AZ',
 'NV',
 'CO',
 'OH',
 'MT',
 'WV',
 'ID',
 'TN',
 'NM',
 'IL',
 'KY',
 'WY',
 'MI',
 'MN',
 'KS',
 'AL',
 'NE',
 'OK',
 'MO',
 'LA',
 'WI',
 'AR',
 'UT',
 'IA',
 'SD',
 'ND',
 'MS',
 'Rate',
 '82',
 '81',
 '79',
 '77',
 '72',
 '71',
 '71',
 '69',
 '69',
 '68',
 '67',
 '65',
 '65',
 '63',
 '60',
 '57',
 '56',
 '55',
 '54',
 '53',
 '53',
 '52',
 '51',
 '51',
 '34',
 '33',
 '31',
 '26',
 '23',
 '18',
 '17',
 '13',
 '13',
 '12',
 '12',
 '11',
 '11',
 '9',
 '9',
 '9',
 '8',
 '8',
 '8',
 '7',
 '6',
 '6',
 '5',
 '5',
 '4',
 '4',
 '4',
 'Verbal',
 '509',
 '499',
 '511',
 '495',
 '520',
 '501',
 '500',
 '511',
 '506',
 '510',
 '501',
 '508',
 '493',
 '491',
 '499',
 '486',
 '482',
 '526',
 '498',
 '527',
 '493',
 '485',
 '514',
 '498',
 '523',
 '509',
 '539',
 '534',
 '539',
 '527',
 '543',
 '562',
 '551',
 '576',
 '550',
 '547',
 '561',
 '580',
 '577',
 '559',
 '562',
 '567',
 '577',
 '564',
 '584',
 '562',
 '575',
 '593',
 '577',
 '592',
 '566']

In [293]:
[scores_data[j][i] for i in range(0,len(labels)-1) for j in range(0,len(scores_data)-1)]

['State',
 'CT',
 'NJ',
 'MA',
 'NY',
 'NH',
 'RI',
 'PA',
 'VT',
 'ME',
 'VA',
 'DE',
 'MD',
 'NC',
 'GA',
 'IN',
 'SC',
 'DC',
 'OR',
 'FL',
 'WA',
 'TX',
 'HI',
 'AK',
 'CA',
 'AZ',
 'NV',
 'CO',
 'OH',
 'MT',
 'WV',
 'ID',
 'TN',
 'NM',
 'IL',
 'KY',
 'WY',
 'MI',
 'MN',
 'KS',
 'AL',
 'NE',
 'OK',
 'MO',
 'LA',
 'WI',
 'AR',
 'UT',
 'IA',
 'SD',
 'ND',
 'MS',
 'Rate',
 '82',
 '81',
 '79',
 '77',
 '72',
 '71',
 '71',
 '69',
 '69',
 '68',
 '67',
 '65',
 '65',
 '63',
 '60',
 '57',
 '56',
 '55',
 '54',
 '53',
 '53',
 '52',
 '51',
 '51',
 '34',
 '33',
 '31',
 '26',
 '23',
 '18',
 '17',
 '13',
 '13',
 '12',
 '12',
 '11',
 '11',
 '9',
 '9',
 '9',
 '8',
 '8',
 '8',
 '7',
 '6',
 '6',
 '5',
 '5',
 '4',
 '4',
 '4',
 'Verbal',
 '509',
 '499',
 '511',
 '495',
 '520',
 '501',
 '500',
 '511',
 '506',
 '510',
 '501',
 '508',
 '493',
 '491',
 '499',
 '486',
 '482',
 '526',
 '498',
 '527',
 '493',
 '485',
 '514',
 '498',
 '523',
 '509',
 '539',
 '534',
 '539',
 '527',
 '543',
 '562',
 '551',
 '576',
 '550',
 '547',
 '561',
 '580',
 '577',
 '559',
 '562',
 '567',
 '577',
 '564',
 '584',
 '562',
 '575',
 '593',
 '577',
 '592',
 '566']

In [294]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [295]:
scores_data[2][0]

'NJ'

In [296]:
[type(scores_data[z][s]) for z in range(0,len(scores_data)) for s in range(4)]

[str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str,
 str]

In [298]:
all_data

[['CT', '82', '509', '510'],
 ['NJ', '81', '499', '513'],
 ['MA', '79', '511', '515'],
 ['NY', '77', '495', '505'],
 ['NH', '72', '520', '516'],
 ['RI', '71', '501', '499'],
 ['PA', '71', '500', '499'],
 ['VT', '69', '511', '506'],
 ['ME', '69', '506', '500'],
 ['VA', '68', '510', '501'],
 ['DE', '67', '501', '499'],
 ['MD', '65', '508', '510'],
 ['NC', '65', '493', '499'],
 ['GA', '63', '491', '489'],
 ['IN', '60', '499', '501'],
 ['SC', '57', '486', '488'],
 ['DC', '56', '482', '474'],
 ['OR', '55', '526', '526'],
 ['FL', '54', '498', '499'],
 ['WA', '53', '527', '527'],
 ['TX', '53', '493', '499'],
 ['HI', '52', '485', '515'],
 ['AK', '51', '514', '510'],
 ['CA', '51', '498', '517'],
 ['AZ', '34', '523', '525'],
 ['NV', '33', '509', '515'],
 ['CO', '31', '539', '542'],
 ['OH', '26', '534', '439'],
 ['MT', '23', '539', '539'],
 ['WV', '18', '527', '512'],
 ['ID', '17', '543', '542'],
 ['TN', '13', '562', '553'],
 ['NM', '13', '551', '542'],
 ['IL', '12', '576', '589'],
 ['KY', '12', '550', '550'],
 ['WY', '11', '547', '545'],
 ['MI', '11', '561', '572'],
 ['MN', '9', '580', '589'],
 ['KS', '9', '577', '580'],
 ['AL', '9', '559', '554'],
 ['NE', '8', '562', '568'],
 ['OK', '8', '567', '561'],
 ['MO', '8', '577', '577'],
 ['LA', '7', '564', '562'],
 ['WI', '6', '584', '596'],
 ['AR', '6', '562', '550'],
 ['UT', '5', '575', '570'],
 ['IA', '5', '593', '603'],
 ['SD', '4', '577', '582'],
 ['ND', '4', '592', '599'],
 ['MS', '4', '566', '551'],
 ['All', '45', '506', '514']]

In [308]:
#reassign types
int_value=[]
for item in all_data:
    int_value.append(int(item[1]))
    int_value.append(int(item[2]))
    int_value.append(int(item[3]))
int_value

[82,
 509,
 510,
 81,
 499,
 513,
 79,
 511,
 515,
 77,
 495,
 505,
 72,
 520,
 516,
 71,
 501,
 499,
 71,
 500,
 499,
 69,
 511,
 506,
 69,
 506,
 500,
 68,
 510,
 501,
 67,
 501,
 499,
 65,
 508,
 510,
 65,
 493,
 499,
 63,
 491,
 489,
 60,
 499,
 501,
 57,
 486,
 488,
 56,
 482,
 474,
 55,
 526,
 526,
 54,
 498,
 499,
 53,
 527,
 527,
 53,
 493,
 499,
 52,
 485,
 515,
 51,
 514,
 510,
 51,
 498,
 517,
 34,
 523,
 525,
 33,
 509,
 515,
 31,
 539,
 542,
 26,
 534,
 439,
 23,
 539,
 539,
 18,
 527,
 512,
 17,
 543,
 542,
 13,
 562,
 553,
 13,
 551,
 542,
 12,
 576,
 589,
 12,
 550,
 550,
 11,
 547,
 545,
 11,
 561,
 572,
 9,
 580,
 589,
 9,
 577,
 580,
 9,
 559,
 554,
 8,
 562,
 568,
 8,
 567,
 561,
 8,
 577,
 577,
 7,
 564,
 562,
 6,
 584,
 596,
 6,
 562,
 550,
 5,
 575,
 570,
 5,
 593,
 603,
 4,
 577,
 582,
 4,
 592,
 599,
 4,
 566,
 551,
 45,
 506,
 514]

In [329]:
state_list=[]

for item in all_data:
    state_list.append(item[0])
    for j in range(1,4):
        data_list = [int(item[j]) for int(j) in item]
        
print data_list

SyntaxError: can't assign to function call (<ipython-input-329-5d71a9b015bb>, line 6)

In [330]:
ab =[1,2,3]
b=[2,2,2]
ab+b

[1, 2, 3, 2, 2, 2]

In [331]:
state_list

['CT']

In [332]:
all_data[:5]

[['CT', '82', '509', '510'],
 ['NJ', '81', '499', '513'],
 ['MA', '79', '511', '515'],
 ['NY', '77', '495', '505'],
 ['NH', '72', '520', '516']]

In [348]:
data2 = all_data[:2]
tran = [[item[i] for item in data2] for i in range(0,4)]
data2

[['CT', '82', '509', '510'], ['NJ', '81', '499', '513']]

In [340]:
tran[0]

['CT', 'NJ', 'MA', 'NY', 'NH']

In [341]:
data5[0]

['CT', '82', '509', '510']

In [342]:
len(data5)

5

In [343]:
tran = [[x[i] for x in data5] for i in range(0,4)]
tran

[['CT', 'NJ', 'MA', 'NY', 'NH'],
 ['82', '81', '79', '77', '72'],
 ['509', '499', '511', '495', '520'],
 ['510', '513', '515', '505', '516']]

In [352]:
all_data

[['CT', '82', '509', '510'],
 ['NJ', '81', '499', '513'],
 ['MA', '79', '511', '515'],
 ['NY', '77', '495', '505'],
 ['NH', '72', '520', '516'],
 ['RI', '71', '501', '499'],
 ['PA', '71', '500', '499'],
 ['VT', '69', '511', '506'],
 ['ME', '69', '506', '500'],
 ['VA', '68', '510', '501'],
 ['DE', '67', '501', '499'],
 ['MD', '65', '508', '510'],
 ['NC', '65', '493', '499'],
 ['GA', '63', '491', '489'],
 ['IN', '60', '499', '501'],
 ['SC', '57', '486', '488'],
 ['DC', '56', '482', '474'],
 ['OR', '55', '526', '526'],
 ['FL', '54', '498', '499'],
 ['WA', '53', '527', '527'],
 ['TX', '53', '493', '499'],
 ['HI', '52', '485', '515'],
 ['AK', '51', '514', '510'],
 ['CA', '51', '498', '517'],
 ['AZ', '34', '523', '525'],
 ['NV', '33', '509', '515'],
 ['CO', '31', '539', '542'],
 ['OH', '26', '534', '439'],
 ['MT', '23', '539', '539'],
 ['WV', '18', '527', '512'],
 ['ID', '17', '543', '542'],
 ['TN', '13', '562', '553'],
 ['NM', '13', '551', '542'],
 ['IL', '12', '576', '589'],
 ['KY', '12', '550', '550'],
 ['WY', '11', '547', '545'],
 ['MI', '11', '561', '572'],
 ['MN', '9', '580', '589'],
 ['KS', '9', '577', '580'],
 ['AL', '9', '559', '554'],
 ['NE', '8', '562', '568'],
 ['OK', '8', '567', '561'],
 ['MO', '8', '577', '577'],
 ['LA', '7', '564', '562'],
 ['WI', '6', '584', '596'],
 ['AR', '6', '562', '550'],
 ['UT', '5', '575', '570'],
 ['IA', '5', '593', '603'],
 ['SD', '4', '577', '582'],
 ['ND', '4', '592', '599'],
 ['MS', '4', '566', '551'],
 ['All', '45', '506', '514']]

In [366]:
trap = [[(item[i]) for item in all_data] for i in range(0,4)] # this is the transpose of the all-data
#that has all the states and data without the labels
print trap

[['CT', 'NJ', 'MA', 'NY', 'NH', 'RI', 'PA', 'VT', 'ME', 'VA', 'DE', 'MD', 'NC', 'GA', 'IN', 'SC', 'DC', 'OR', 'FL', 'WA', 'TX', 'HI', 'AK', 'CA', 'AZ', 'NV', 'CO', 'OH', 'MT', 'WV', 'ID', 'TN', 'NM', 'IL', 'KY', 'WY', 'MI', 'MN', 'KS', 'AL', 'NE', 'OK', 'MO', 'LA', 'WI', 'AR', 'UT', 'IA', 'SD', 'ND', 'MS', 'All'], ['82', '81', '79', '77', '72', '71', '71', '69', '69', '68', '67', '65', '65', '63', '60', '57', '56', '55', '54', '53', '53', '52', '51', '51', '34', '33', '31', '26', '23', '18', '17', '13', '13', '12', '12', '11', '11', '9', '9', '9', '8', '8', '8', '7', '6', '6', '5', '5', '4', '4', '4', '45'], ['509', '499', '511', '495', '520', '501', '500', '511', '506', '510', '501', '508', '493', '491', '499', '486', '482', '526', '498', '527', '493', '485', '514', '498', '523', '509', '539', '534', '539', '527', '543', '562', '551', '576', '550', '547', '561', '580', '577', '559', '562', '567', '577', '564', '584', '562', '575', '593', '577', '592', '566', '506'], ['510', '513', '515', '505', '516', '499', '499', '506', '500', '501', '499', '510', '499', '489', '501', '488', '474', '526', '499', '527', '499', '515', '510', '517', '525', '515', '542', '439', '539', '512', '542', '553', '542', '589', '550', '545', '572', '589', '580', '554', '568', '561', '577', '562', '596', '550', '570', '603', '582', '599', '551', '514']]

In [381]:
trap[0]

['CT',
 'NJ',
 'MA',
 'NY',
 'NH',
 'RI',
 'PA',
 'VT',
 'ME',
 'VA',
 'DE',
 'MD',
 'NC',
 'GA',
 'IN',
 'SC',
 'DC',
 'OR',
 'FL',
 'WA',
 'TX',
 'HI',
 'AK',
 'CA',
 'AZ',
 'NV',
 'CO',
 'OH',
 'MT',
 'WV',
 'ID',
 'TN',
 'NM',
 'IL',
 'KY',
 'WY',
 'MI',
 'MN',
 'KS',
 'AL',
 'NE',
 'OK',
 'MO',
 'LA',
 'WI',
 'AR',
 'UT',
 'IA',
 'SD',
 'ND',
 'MS',
 'All']

In [380]:
 intvalues = [[int(item[i]) for i in range(0,len(item))] for item in trap[1:]]
print(intvalues)

[[82, 81, 79, 77, 72, 71, 71, 69, 69, 68, 67, 65, 65, 63, 60, 57, 56, 55, 54, 53, 53, 52, 51, 51, 34, 33, 31, 26, 23, 18, 17, 13, 13, 12, 12, 11, 11, 9, 9, 9, 8, 8, 8, 7, 6, 6, 5, 5, 4, 4, 4, 45], [509, 499, 511, 495, 520, 501, 500, 511, 506, 510, 501, 508, 493, 491, 499, 486, 482, 526, 498, 527, 493, 485, 514, 498, 523, 509, 539, 534, 539, 527, 543, 562, 551, 576, 550, 547, 561, 580, 577, 559, 562, 567, 577, 564, 584, 562, 575, 593, 577, 592, 566, 506], [510, 513, 515, 505, 516, 499, 499, 506, 500, 501, 499, 510, 499, 489, 501, 488, 474, 526, 499, 527, 499, 515, 510, 517, 525, 515, 542, 439, 539, 512, 542, 553, 542, 589, 550, 545, 572, 589, 580, 554, 568, 561, 577, 562, 596, 550, 570, 603, 582, 599, 551, 514]]

In [383]:
states = trap[0]
states

['CT',
 'NJ',
 'MA',
 'NY',
 'NH',
 'RI',
 'PA',
 'VT',
 'ME',
 'VA',
 'DE',
 'MD',
 'NC',
 'GA',
 'IN',
 'SC',
 'DC',
 'OR',
 'FL',
 'WA',
 'TX',
 'HI',
 'AK',
 'CA',
 'AZ',
 'NV',
 'CO',
 'OH',
 'MT',
 'WV',
 'ID',
 'TN',
 'NM',
 'IL',
 'KY',
 'WY',
 'MI',
 'MN',
 'KS',
 'AL',
 'NE',
 'OK',
 'MO',
 'LA',
 'WI',
 'AR',
 'UT',
 'IA',
 'SD',
 'ND',
 'MS',
 'All']

In [405]:
len(states)

52

In [401]:
trap_with_int = [states + intvalues] # this combines the states row and the data with int values into one list
print(trap_with_int)

[['CT', 'NJ', 'MA', 'NY', 'NH', 'RI', 'PA', 'VT', 'ME', 'VA', 'DE', 'MD', 'NC', 'GA', 'IN', 'SC', 'DC', 'OR', 'FL', 'WA', 'TX', 'HI', 'AK', 'CA', 'AZ', 'NV', 'CO', 'OH', 'MT', 'WV', 'ID', 'TN', 'NM', 'IL', 'KY', 'WY', 'MI', 'MN', 'KS', 'AL', 'NE', 'OK', 'MO', 'LA', 'WI', 'AR', 'UT', 'IA', 'SD', 'ND', 'MS', 'All', [82, 81, 79, 77, 72, 71, 71, 69, 69, 68, 67, 65, 65, 63, 60, 57, 56, 55, 54, 53, 53, 52, 51, 51, 34, 33, 31, 26, 23, 18, 17, 13, 13, 12, 12, 11, 11, 9, 9, 9, 8, 8, 8, 7, 6, 6, 5, 5, 4, 4, 4, 45], [509, 499, 511, 495, 520, 501, 500, 511, 506, 510, 501, 508, 493, 491, 499, 486, 482, 526, 498, 527, 493, 485, 514, 498, 523, 509, 539, 534, 539, 527, 543, 562, 551, 576, 550, 547, 561, 580, 577, 559, 562, 567, 577, 564, 584, 562, 575, 593, 577, 592, 566, 506], [510, 513, 515, 505, 516, 499, 499, 506, 500, 501, 499, 510, 499, 489, 501, 488, 474, 526, 499, 527, 499, 515, 510, 517, 525, 515, 542, 439, 539, 512, 542, 553, 542, 589, 550, 545, 572, 589, 580, 554, 568, 561, 577, 562, 596, 550, 570, 603, 582, 599, 551, 514]]]

In [406]:
len(trap_with_int)

1

In [404]:
with_int = [[item[i] for item in trap_with_int] for i in range(0,55)]
with_int

[['CT'],
 ['NJ'],
 ['MA'],
 ['NY'],
 ['NH'],
 ['RI'],
 ['PA'],
 ['VT'],
 ['ME'],
 ['VA'],
 ['DE'],
 ['MD'],
 ['NC'],
 ['GA'],
 ['IN'],
 ['SC'],
 ['DC'],
 ['OR'],
 ['FL'],
 ['WA'],
 ['TX'],
 ['HI'],
 ['AK'],
 ['CA'],
 ['AZ'],
 ['NV'],
 ['CO'],
 ['OH'],
 ['MT'],
 ['WV'],
 ['ID'],
 ['TN'],
 ['NM'],
 ['IL'],
 ['KY'],
 ['WY'],
 ['MI'],
 ['MN'],
 ['KS'],
 ['AL'],
 ['NE'],
 ['OK'],
 ['MO'],
 ['LA'],
 ['WI'],
 ['AR'],
 ['UT'],
 ['IA'],
 ['SD'],
 ['ND'],
 ['MS'],
 ['All'],
 [[82,
   81,
   79,
   77,
   72,
   71,
   71,
   69,
   69,
   68,
   67,
   65,
   65,
   63,
   60,
   57,
   56,
   55,
   54,
   53,
   53,
   52,
   51,
   51,
   34,
   33,
   31,
   26,
   23,
   18,
   17,
   13,
   13,
   12,
   12,
   11,
   11,
   9,
   9,
   9,
   8,
   8,
   8,
   7,
   6,
   6,
   5,
   5,
   4,
   4,
   4,
   45]],
 [[509,
   499,
   511,
   495,
   520,
   501,
   500,
   511,
   506,
   510,
   501,
   508,
   493,
   491,
   499,
   486,
   482,
   526,
   498,
   527,
   493,
   485,
   514,
   498,
   523,
   509,
   539,
   534,
   539,
   527,
   543,
   562,
   551,
   576,
   550,
   547,
   561,
   580,
   577,
   559,
   562,
   567,
   577,
   564,
   584,
   562,
   575,
   593,
   577,
   592,
   566,
   506]],
 [[510,
   513,
   515,
   505,
   516,
   499,
   499,
   506,
   500,
   501,
   499,
   510,
   499,
   489,
   501,
   488,
   474,
   526,
   499,
   527,
   499,
   515,
   510,
   517,
   525,
   515,
   542,
   439,
   539,
   512,
   542,
   553,
   542,
   589,
   550,
   545,
   572,
   589,
   580,
   554,
   568,
   561,
   577,
   562,
   596,
   550,
   570,
   603,
   582,
   599,
   551,
   514]]]

In [397]:
len(trap_with_int)

55

In [398]:
len(all_data)

52

In [399]:
all_data

[['CT', '82', '509', '510'],
 ['NJ', '81', '499', '513'],
 ['MA', '79', '511', '515'],
 ['NY', '77', '495', '505'],
 ['NH', '72', '520', '516'],
 ['RI', '71', '501', '499'],
 ['PA', '71', '500', '499'],
 ['VT', '69', '511', '506'],
 ['ME', '69', '506', '500'],
 ['VA', '68', '510', '501'],
 ['DE', '67', '501', '499'],
 ['MD', '65', '508', '510'],
 ['NC', '65', '493', '499'],
 ['GA', '63', '491', '489'],
 ['IN', '60', '499', '501'],
 ['SC', '57', '486', '488'],
 ['DC', '56', '482', '474'],
 ['OR', '55', '526', '526'],
 ['FL', '54', '498', '499'],
 ['WA', '53', '527', '527'],
 ['TX', '53', '493', '499'],
 ['HI', '52', '485', '515'],
 ['AK', '51', '514', '510'],
 ['CA', '51', '498', '517'],
 ['AZ', '34', '523', '525'],
 ['NV', '33', '509', '515'],
 ['CO', '31', '539', '542'],
 ['OH', '26', '534', '439'],
 ['MT', '23', '539', '539'],
 ['WV', '18', '527', '512'],
 ['ID', '17', '543', '542'],
 ['TN', '13', '562', '553'],
 ['NM', '13', '551', '542'],
 ['IL', '12', '576', '589'],
 ['KY', '12', '550', '550'],
 ['WY', '11', '547', '545'],
 ['MI', '11', '561', '572'],
 ['MN', '9', '580', '589'],
 ['KS', '9', '577', '580'],
 ['AL', '9', '559', '554'],
 ['NE', '8', '562', '568'],
 ['OK', '8', '567', '561'],
 ['MO', '8', '577', '577'],
 ['LA', '7', '564', '562'],
 ['WI', '6', '584', '596'],
 ['AR', '6', '562', '550'],
 ['UT', '5', '575', '570'],
 ['IA', '5', '593', '603'],
 ['SD', '4', '577', '582'],
 ['ND', '4', '592', '599'],
 ['MS', '4', '566', '551'],
 ['All', '45', '506', '514']]