In [11]:
n1 = [1,2,3,4,5,6]

In [12]:
n2 = [x+1 for x in n1]
n2

[2, 3, 4, 5, 6, 7]

In [14]:
#binarize n3- whenever it is greater than the mean print 1 or 0
n3=[]
for x in n1:
    if x > sum(n1)/len(n1):
        x=1
        n3.append(x)
    else:
        y=0
        n3.append(y)
n3

[0, 0, 0, 1, 1, 1]

In [16]:
import numpy as np
n3 =[1 if x > np.mean(n1) else 0 for x in n1]
n3

[0, 0, 0, 1, 1, 1]

In [19]:
x=[0,1,0,21.5,33]
[num if(num !=1 and num!=0) else(1 if num == 0 else 0) for num in x]

[1, 0, 1, 21.5, 33]

In [20]:
x=[1,1,1,0,0,0,0,0,0,22,33,44]
[num if(num !=1 and num!=0) else(1 if num == 0 else 0) for num in x]

[0, 0, 0, 1, 1, 1, 1, 1, 1, 22, 33, 44]

In [37]:
# return a list of square and square root of all numbers that are positive or zero
sq = [1,2,3,0,-1,-3,-5]
sq12=[]
for digit in sq:
    if digit>=0:
        sq12.append(digit)
    
sq12

[1, 2, 3, 0]

In [44]:
[digit for digit in sq if digit>=0]

[1, 2, 3, 0]

In [46]:
[[num**2,num**0.5] for num in [digit for digit in sq if digit>=0] ]

[[1, 1.0], [4, 1.4142135623730951], [9, 1.7320508075688772], [0, 0.0]]

In [58]:
#dict comprehension
cols=['name','age','salary']
values = [['ac','bc','cc'],[10,20,30],[1000,2000,3000]]
{cols:values for cols, values in zip(cols,values)}

{'age': [10, 20, 30], 'name': ['ac', 'bc', 'cc'], 'salary': [1000, 2000, 3000]}

In [64]:
#dict comprehension
cols=['name','age','salary']
rows = [['ac','bc','cc'],[10,20,30],[1000,2000,3000]]
new={key:value for key, value in zip(cols,rows)}
new

{'age': [10, 20, 30], 'name': ['ac', 'bc', 'cc'], 'salary': [1000, 2000, 3000]}

In [66]:
import pandas as pd
pd.DataFrame(new)

   age name  salary
0   10   ac    1000
1   20   bc    2000
2   30   cc    3000