In [2]:
# import modules

import pandas as pd
import numpy as np

In [3]:
# create a dataframe

data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, columns = 
                  ['name', 'age', 'preTestScore', 'postTestScore'])
df

    name  age  preTestScore  postTestScore
0  Jason   42             4             25
1  Molly   52            24             94
2   Tina   36            31             57
3   Jake   24             2             62
4    Amy   73             3             70

In [4]:
# find the sum of all the ages using pandas
df.age.sum()

227

In [5]:
# find the sum of all the ages using numpy
data_df = df.values
data_df
ages= [(data_df[i][1]) for i in range(0,len(data_df))]
np.sum(ages)

227

In [6]:
# find the mean preTestScore using pandas
df.preTestScore.mean()

12.8

In [7]:
# find the mean preTestScore using numpy
preTest= [(data_df[i][2]) for i in range(0,len(data_df))]
round(np.mean(preTest),2)

12.8

In [8]:
# find the min value of preTestScore using pandas

df.preTestScore.min()

2

In [9]:
# find the min value of preTestScore using numpy
np.min(preTest)

2

In [10]:
# find the max value of preTestScore using pandas
df.preTestScore.max()

31

In [11]:
# find the max value of preTestScore using numpy
np.max(preTest)

31

In [12]:
# find the median value of preTestScore using pandas
df.preTestScore.median()

4.0

In [13]:
# find the median value of preTestScore using numpy
np.median(preTest)

4.0