In [15]:
import pandas as pd
import numpy as np

In [3]:
# create a series using a numpy random number generator

s = pd.Series(np.random.randn(7), index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])  
s

a   -1.185522
b   -0.475879
c   -0.506825
d   -0.016009
e    0.583588
f   -0.014616
g   -0.423604
dtype: float64

In [4]:
# head of series

pd.Series.head(s)

a   -1.185522
b   -0.475879
c   -0.506825
d   -0.016009
e    0.583588
dtype: float64

In [5]:
# tail of series

pd.Series.tail(s)

c   -0.506825
d   -0.016009
e    0.583588
f   -0.014616
g   -0.423604
dtype: float64

In [6]:
# summary stats

pd.Series.describe(s)

count    7.000000
mean    -0.291267
std      0.550064
min     -1.185522
25%     -0.491352
50%     -0.423604
75%     -0.015313
max      0.583588
dtype: float64

In [7]:
# select by location c to g

s.loc['c':]

c   -0.506825
d   -0.016009
e    0.583588
f   -0.014616
g   -0.423604
dtype: float64

In [8]:
# select just b

s.loc['b']

-0.47587852243753825

In [9]:
# slice for rows 1-3

s[:3]

a   -1.185522
b   -0.475879
c   -0.506825
dtype: float64

### Boolean indexing

In [10]:
# create another series ranging from -3 to 3

s = pd.Series(range(-3, 4))
s

0   -3
1   -2
2   -1
3    0
4    1
5    2
6    3
dtype: int64

In [11]:
# find the values that are > 0. 

s[s > 0]

4    1
5    2
6    3
dtype: int64

In [12]:
# find the values that are < -1 or > 0.5

s[(s < -1) | (s > 0.5)]

0   -3
1   -2
4    1
5    2
6    3
dtype: int64

In [13]:
# find the values that are not < 0.

s[~(s < 0)]

3    0
4    1
5    2
6    3
dtype: int64

In [14]:
# find the values that are < 2

s[s < 2]

0   -3
1   -2
2   -1
3    0
4    1
dtype: int64