### List comprehension independent practice

Each problem should be completed with a single list (or dictionary) comprehension!

In [11]:
import pandas as pd
import numpy as np
import string

#### Easy problems

##### 1. convert each string from lowercase to uppercase

[Hint: python strings can be turned to uppercase by appending: .upper(), e.g 'hello'.upper()]

In [7]:
import numpy as np
import pandas as pd
import string

In [17]:
strings = ['black','Yellow','ReD','GreeN','BLUe']
[item.upper() for item in strings]

['BLACK', 'YELLOW', 'RED', 'GREEN', 'BLUE']

##### 2. take the numbers in the list and keep only the even numbers

[Hint: the modulo operator **%** can be used to calculate the remainder, e.g. 5 % 2 == 1]

In [23]:
numbers = [1,2,3,4,5,6,7,8,9,10]
[num   for num in numbers if num%2==0]

[2, 4, 6, 8, 10]

##### 3. convert to 'v' if a character is a vowel and 'c' if a consonant, otherwise convert to '?'

In [112]:
characters = ['a','f',None,'k','l','1',12,'e','e',-1,'i','b','p']
alphabet = list(string.ascii_lowercase)
vowels = ['a','e','i','o','u']
letters = [item for item in characters if item in alphabet if item in vowels]
['v' if item in vowels else 'c' if item in alphabet else '?'  for item in characters ]

['v', 'c', '?', 'c', 'c', '?', '?', 'v', 'v', '?', 'v', 'c', 'c']

#### Medium problems

##### 4. calculate the means of the numbers in each list that lie between 0 and 100 (inclusive)

In [123]:
number_sets = [[1,50,-40,20,90], [1004,1002,101,-90,40,34], [-1,-2,34,55,77,109]]
[np.mean([i for i in item if i >=0 and i <= 100]) for item in number_sets]

[40.25, 37.0, 55.333333333333336]

##### 5. for each string in each list, if the index of the strings is even, join them like: 'item1 item2'. Otherwise join them like: 'item2 item1'.

In [132]:
strings1 = ['alpha','bravo','charlie','delta']
strings2 = ['echo','foxtrot','golf','hotel']
strings1.index('bravo')
strings1.values='alpha'

AttributeError: 'list' object has no attribute 'values'

##### 6. create a pandas dataframe from the columns and associated values where each column is the first five multiples of the values:

In [ ]:
columns = ['five','seven','twelve']
values = [5, 7, 12]
multiples = [1, 2, 3, 4, 5]

#### Hard problems

##### 7. manually calculate the median of the first n numbers (from list "N") in list "X"

In [ ]:
N = [12, 5, 6, 8, 10]
X = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

##### 8. combine into a flat list: 

1. iterate the elements of one list 
2. iteratively multiply by them by the elements in the second list
3. then iteratively subtract the elements in a third list

e.g:

    a = [1,2]
    b = [0,1]
    c = [1,2]
    output = [0,0,0,-1,0,0,1,0]

In [ ]:
a = [9,7,5]
b = [10,5,1]
c = [1,2,3]