In [11]:
from sklearn import datasets, linear_model
import pandas as pd

In [13]:
df = pd.DataFrame({'salary':[100000,65000,24000,50000,150000],'education':[22,18,11,16,25]})

In [14]:
df

   education  salary
0         22  100000
1         18   65000
2         11   24000
3         16   50000
4         25  150000

In [37]:

lr=LinearRegression()

# x=df['education']
# y=df['salary']
x,y = df[['education']],df[['salary']]

In [38]:
model = lr.fit(x,y)
prediction = model.predict(x)
prediction

array([[ 109327.64505119],
       [  74296.92832765],
       [  12993.17406143],
       [  56781.56996587],
       [ 135600.68259386]])