In [1]:
import pandas as pd

In [33]:
#def nom(n):
    for i in range (n):
        nums=[]
        nums = nums.append(i)
        print nums
#     for j in nums:
#         print j
#         if j%3!=0:
#             print i
#         if j%5!=0:
#             print i
#         if j%3==0:
#             print 'hey'
#         if j%5==0:
#             print 'hey-ho'
    return
nom(10)

None
None
None
None
None
None
None
None
None
None

In [54]:
num_list= [i for i in range(20) if i%3==0 if i%5==0]
num_list

[0, 15]

In [66]:
def nums(n):
    num_list= [i for i in range(1,n+1)]
    num2=[]
    for i in num_list:
        if i%3==0:
            num2.append('hey')
        elif i%5==0:
            num2.append('ho')
        elif i%15==0:
            num2.append('hey-ho')
        else:
            num2.append(i)
    return num2
             
nums(15)

[1, 2, 'hey', 4, 'ho', 'hey', 7, 8, 'hey', 'ho', 11, 'hey', 13, 14, 'hey']

In [72]:
def nums(n):
    num_list = [i for i in range(1,n+1)]
    i=3
    while i<=n:
        num_list[i-1]='hey'
        i=i+3
    i=5
    while i<=n:
        num_list[i-1]='ho'
        i=i+5
    i=15
    while i<=n:
        num_list[i-1]='hey-ho'
        i=i+15
    return num_list
            
nums(18)

[1,
 2,
 'hey',
 4,
 'ho',
 'hey',
 7,
 8,
 'hey',
 'ho',
 11,
 'hey',
 13,
 14,
 'hey-ho',
 16,
 17,
 'hey']

In [68]:
d = {}

In [69]:
for i in range(0,34):
    d[i]=i

In [79]:
d

{0: 'hey-ho',
 1: 1,
 2: 2,
 3: 'hey',
 4: 4,
 5: 'ho',
 6: 'hey',
 7: 7,
 8: 8,
 9: 'hey',
 10: 'ho',
 11: 11,
 12: 'hey',
 13: 13,
 14: 14,
 15: 'hey-ho',
 16: 16,
 17: 17,
 18: 'hey',
 19: 19,
 20: 'ho',
 21: 'hey',
 22: 22,
 23: 23,
 24: 'hey',
 25: 'ho',
 26: 26,
 27: 'hey',
 28: 28,
 29: 29,
 30: 'hey-ho',
 31: 31,
 32: 32,
 33: 'hey'}

In [73]:
for i in range(0,34,3):
    d[i]='hey'

In [74]:
for i in range(0,34,5):
    d[i]='ho'

In [75]:
for i in range(0,34,15):
    d[i]='hey-ho'

In [80]:
del d[0]

In [81]:
d.values()

[1,
 2,
 'hey',
 4,
 'ho',
 'hey',
 7,
 8,
 'hey',
 'ho',
 11,
 'hey',
 13,
 14,
 'hey-ho',
 16,
 17,
 'hey',
 19,
 'ho',
 'hey',
 22,
 23,
 'hey',
 'ho',
 26,
 'hey',
 28,
 29,
 'hey-ho',
 31,
 32,
 'hey']

In [98]:
def nums(n):
    d2 = [i for i in range(0,n+1)]
    for step in [(3,'hey'),(5,'ho'),(15,'hey-ho')]:
        for i in range(0,len(d2), step[0]):
            d2[i]=step[1]
    del d2[0]
    return d2
nums(35)

[1,
 2,
 'hey',
 4,
 'ho',
 'hey',
 7,
 8,
 'hey',
 'ho',
 11,
 'hey',
 13,
 14,
 'hey-ho',
 16,
 17,
 'hey',
 19,
 'ho',
 'hey',
 22,
 23,
 'hey',
 'ho',
 26,
 'hey',
 28,
 29,
 'hey-ho',
 31,
 32,
 'hey',
 34,
 'ho']

In [53]:
def rep(word):
    list=[]
    for let in word:
        list.append(let)
    print list

    for i in range(0,len(word)):
        for j in range(1,len(word)):
            if list[i]==list[j]:
                print 'false'
            else:
                print 'true'
    return

In [55]:
rep('mat')

['m', 'a', 't']
true
true
false
true
true
false

In [40]:
def rep(word):
    list=[]
    for let in word:
        list.append(let)
    for i in range(0,len(word)):
        for j in range(1,len(word)+1):
            if list[i]!=list[j]:
                print 'true'
            else:
                print 'false'
    return

In [41]:
rep('bat')

true
true

IndexError: list index out of range

In [56]:
officer_names = ['Sodoni Dogla', 'Chris Jefferson', 'Jessica Billars', 'Michael Mulligan', 'Steven Johnson']
officer_armies = ['Purple Army', 'Orange Army', 'Green Army', 'Red Army', 'Blue Army']

In [69]:
dict(zip(officer_names,officer_armies))

{'Chris Jefferson': 'Orange Army',
 'Jessica Billars': 'Green Army',
 'Michael Mulligan': 'Red Army',
 'Sodoni Dogla': 'Purple Army',
 'Steven Johnson': 'Blue Army'}

In [60]:
armies=['blue','red','white']

In [63]:
for army in armies:
    print army
    if army=='red':
        print('army found')
        break

blue
red
army found

In [70]:
battleDeaths = [482, 93, 392, 920, 813, 199, 374, 237, 244]

In [71]:
def updated(x): return x + 100

In [82]:
map(updated,battleDeaths)

[582, 193, 492, 1020, 913, 299, 474, 337, 344]

In [83]:
map(lambda x: x+100,battleDeaths)

[582, 193, 492, 1020, 913, 299, 474, 337, 344]

In [85]:
regimentNames = ['Night Riflemen', 'Jungle Scouts', 'The Dragoons', \
                 'Midnight Revengence', 'Wily Warriors']

In [92]:
uppernames=[]
for name in regimentNames:
    uppernames.append(name.upper())

uppernames

['NIGHT RIFLEMEN',
 'JUNGLE SCOUTS',
 'THE DRAGOONS',
 'MIDNIGHT REVENGENCE',
 'WILY WARRIORS']

In [93]:
map(lambda x: x.upper(),regimentNames)

['NIGHT RIFLEMEN',
 'JUNGLE SCOUTS',
 'THE DRAGOONS',
 'MIDNIGHT REVENGENCE',
 'WILY WARRIORS']

In [94]:
uppernames = [name.upper() for name in regimentNames]
uppernames

['NIGHT RIFLEMEN',
 'JUNGLE SCOUTS',
 'THE DRAGOONS',
 'MIDNIGHT REVENGENCE',
 'WILY WARRIORS']

In [95]:
data = ['One','Two','Three','Four','Five']

In [99]:
for item in enumerate(data):
    print item, item[0]

(0, 'One') 0
(1, 'Two') 1
(2, 'Three') 2
(3, 'Four') 3
(4, 'Five') 4

In [101]:
#code challenge- get the angle between minute and hour hand

In [143]:
def angle(time):
    new=list(time)
    hr=int(new[0])+int(new[1])
    mn= int(new[3])+int(new[4])
    angle1=hr*30
    angle2=mn*6
    angle=angle1-angle2
    return angle

In [162]:
angle('05:30')

132

In [132]:
time='1:45'

In [133]:
list(time)

['1', ':', '4', '5']

In [119]:
y=x[0]+x[1]
y

'12'

In [124]:
int(y)

12

In [116]:
z=x[3]+x[4]
z

'45'

In [104]:
def fn(nums):
    for i in nums:
        return i

In [105]:
fn([1,2])

1

In [90]:
list_n = list('123')

In [93]:
list_n[1]

'2'

In [106]:
# sets

In [111]:
def powerset(ls):
    superset=[[]]
    for i in ls:
        superset.extend([subset+[i] for subset in superset])
        print subset
        print [i]
        print superset
    return superset[1:]

In [112]:
powerset([1,2,3])

[]
[1]
[[], [1]]
[1]
[2]
[[], [1], [2], [1, 2]]
[1, 2]
[3]
[[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3]]

[[1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3]]